{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitor de arquivos de texto</title>
    
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer style="text-align:right;">
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br>
<h3>AUTOR: Thiago Vinicios Lima de Araujo Sousa</h3>
      </footer>
</body>
</html>